<ion-view view-title="DENUNCIAS" >
    <ion-content ng-controller="DenCtrl">
    <!-- 
		<div class="list">
			  <label class="item item-input">
			    <input type="text" id="nombre" name="nombre" placeholder="Correo Electrónico">
			  </label>

			  <label class="item item-input">
			    <input type="text" id="mail" name="mail" placeholder="Nombre">
			  </label>		  

			  <label class="item item-input">
			    <input type="text" id="telefono" name="telefono" placeholder="Teléfono">
			  </label>

			  <label class="item item-input item-select">
			    <div class="input-label">
			      Tipo
			    </div>
			    <select>
			      <option>Peaton</option>
			      <option selected>Coima</option>
			      <option>Otro</option>
			    </select>
			  </label>

			  <label class="item item-input">
			    <textarea placeholder="Comentarios"></textarea>
			  </label>

		  <div class="item">
		    <button id="takepic" class="button button-block button-positive" ng-click="takePicture()">Tomar foto
		      <i class="icon ion-camera"></i>
		    </button>
			<br>

		  <button id="pickpic" class="button button-block button-positive" ng-click="pickPicture()">Galería de fotos <i class="icon ion-camera"></i></button>
		</div>	


		    <div class="item text-center">
			    <img id="image" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
		    </div>
			<br>
		  	<button class="button button-block button-balanced text-center" style="color:white;" ng-click="upload()">
			  DENUNCIAR
			</button>

		</div>
	-->
		<div class="text-center">
			<br>
			La sección de denuncias estará habilitada en la próxima actualización. 
		</div>
		

  	</ion-content>
</ion-view>		