<ion-view view-title="COPYLOTO" class="text-align:center" >
  <ion-content>
	<div class="row row-center">
		  <div class="col col-center center card" >
		  	<a href="#/app/infracciones"><img src="img/i_infracciones.png" width="90%"><br>
		  	INFRACCIONES</a>
		  </div>
		  <div class="col col-center center card" >
		  	<a href="#/app/temasviales"><img src="img/i_temasviales.png" width="90%"><br>
		  	TEMAS VIALES</a>
		  </div>
	</div>
	<div class="row row-center">
		  <div class="col col-center center card" >
		  	<a href="#/app/reglamentos"><img src="img/i_ley.png" width="90%"><br>
		  	REGLAMENTOS</a>
		  </div>
		  <div class="col col-center center card" >
		  	<a href="#/app/tips"><img src="img/i_tips.png" width="90%"><br>
		  	TIPS</a>
		  </div>
	</div>
	<div class="row row-center">
		  <div class="col col-center center card" >
		  	<a href="#/app/map"><img src="img/i_ubicacion.png" width="90%"><br>
		  	UBICACIONES</a>
		  </div>
		  <div class="col col-center center card" >
		  	<a href="#/app/denuncia"><img src="img/i_denuncias.png" width="90%"><br>
		  	DENUNCIAS</a>
		  </div>
	</div>
  </ion-content>
</ion-view>