    <ion-view view-title="NOSOTROS" >
      <ion-content ng-controller="NosCtrl">
      <div class="list card">
        <div class="item item-text-wrap">
          <h2><strong>COPYLOTO</strong></h2>
          <br>
          <h2>Creadores</h2>
          <p>
          Dpto. Startup Lab – Innovación y Negocios Tecnológicos 
          <br>Facultad Politécnica
          <br>Universidad Nacional de Asunción
          <br><br>Rector de la Universidad Nacional de Asunción
          <br><strong>Lic. Abel Bernal Castillo</strong>
          <br><br>Encargado General de Startup Lab
          <br><strong>Ing. José Recalde</strong>
          <br><br>Project Manager
          <br><strong>Lic. Diego Morales</strong>
          <br><br>Asesoría y Capacitación Empresarial 
          <br><strong>Germán Barreto</strong>
          <br><br>Coordinador del Marco Legal 
          <br><strong>Fernando Moreno</strong>
         </p>
        </div>
        <div class="item item-body item-text-wrap ">
          <p>
            <h2><strong>Colaboradores</strong></h2>
            <br>
            <h2>Autores del libro</h2>
            -NORMAS FUNDAMENTALES DE TRÁNSITO Y SEGURIDAD VIAL DEL PARAGUAY-
            <br><strong>Lic. José Coronel Ruiz Díaz (Ideólogo)</strong>
            <br><strong>Lic. Eduardo Rojas</strong>
            <br><h2>Diseño Gráfico</h2>
            <strong>Romina Achar</strong>
          </p>
        </div>
          <ul class="list link">
            <li class="item">
            </li>
              <li class="item">
                <i class="icon ion-ios-world"></i> <a href="http://www.startuplab.pol.una.py">http://startuplab.pol.una.py</a>
              </li>
              <li class="item">
                <i class="icon ion-social-facebook"></i> <a href="http://www.facebook.com/startuplab.fpuna">/startuplab.fpuna</a>
              </li>              
              <li class="item">
                <i class="icon ion-social-twitter"></i> <a href="http://www.twitter.com/startupFPUNA">@startupFPUNA</a>
              </li>                            
              <li class="item">
                <i class="icon ion-email"></i> <a href="mailto:startuplab@pol.una.py">startuplab@pol.una.py</a><br><br>
              </li>                               
          </ul>
      </div>
      </ion-content>
    </ion-view>