<ion-view title="REGLAMENTOS">
  <ion-content ng-controller="ReglCtrl"  overflow-scroll="true">
	<div class="list">
	  <div class="item item-divider text-center">
	    LEYES
	  </div>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Ley-5016.pdf')"  target="_blank">
          	<h2 class="titulos">Ley 5016</h2>
      		<p>Ley nacional de tránsito y seguridad vial</p>
          <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Ley-4036.pdf')"  target="_blank">
	    <h2 class="titulos">Ley 4036</h2>
	    <p>De armas de fuego, sus piezas, municiones, explosivos, accesorios y afines</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>	  
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Ley-3966-Organica-municipal.pdf')"  target="_blank">
	    <h2 class="titulos">Ley 3966 </h2>
	    <p>Orgánica municipal</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Ley-5236.pdf')"  target="_blank">
	    <h2 class="titulos">Ley 5236</h2>
	    <p>Que modifica los artículos 9, 10 y 17 de la Ley 608/95</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Ley-608.pdf')"  target="_blank">
	    <h2 class="titulos">Ley 608/95</h2>
	    <p>Que crea el sistema de matriculación y la cédula del automotor</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <div class="item item-divider text-center">
	    RESOLUCIONES
	  </div>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Mopc_Resolucion_2009_0147.pdf')"  target="_blank">
	    <h2 class="titulos">Resolución 147</h2>
	    <p>Normativas para el tránsito de camiones de longitudes especiales</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Mopc_Resolucion_1405.pdf')"  target="_blank">
	    <h2 class="titulos">Resolución 1405</h2>
	    <p>Creación del Departamento de Seguridad Vial</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>
	  <div class="item item-divider text-center">
	    DECRETOS
	  </div>
	  <a class="item item-text-wrap item-icon-right descItem" ng-click="OpenLink('http://startuplab.pol.una.py/copyloto/uploads/Reglamentación-DECRETO-3427.pdf')"  target="_blank">
	    <h2 class="titulos">Decreto Ley 3427/15</h2>
	    <p>Creación del Departamento de Seguridad Vial</p>
	    <i class='icon ion-ios-cloud-download-outline dark'></i>
	  </a>  
	 </div>
	</ion-content>
</ion-view>