<ion-view view-title="TIPS">
  <ion-content ng-controller="TipsCatCtrl">
  		<ion-list>
	        <ion-item class="item-icon-right titulos" href="#/app/tips/automovil">
	          Automovilistas
	          <i class='icon ion-chevron-right'></i>
	        </ion-item>
	        <ion-item class="item-icon-right titulos" href="#/app/tips/moto">
	          Motocicletas
	          <i class='icon ion-chevron-right'></i>
	        </ion-item>
        	<ion-item class="item-icon-right titulos" href="#/app/tips/peaton">
	          Peatones
	          <i class='icon ion-chevron-right'></i>
	        </ion-item>
        	<ion-item class="item-icon-right titulos" href="#/app/tips/importante">
	          A tener en cuenta
	          <i class='icon ion-chevron-right'></i>
	        </ion-item>
      	</ion-list>
</ion-view>